[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
datasette = "*"
sqlite-utils = "*"
click = "*"
beautifulsoup4 = "*"
datasette-gzip = "*"
datasette-block-robots = "*"
datasette-template-sql = "*"
datasette-vega = "*"

[dev-packages]

[requires]
python_version = "3"
